.error_container {
   position: relative;
   height: 40px;
   padding: 10px 5px;
   margin-top: 10px;
   display: block;
}

.signin_error_div {
   color: red;
   padding: 0;
   margin: 0;
   font-size: 14px;
}
.text__edit{
   font-size: 18px;
}
.transfer__amount{
   margin-right: 0;
   margin-bottom: 0;
   margin-top: 1rem;
}
.send__btn a:hover{
 color:#fff
}