@import url("https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro");

.contain {
  max-width: 425px;
}

.signin-logo {
  margin-top: 1.5rem;
  margin-left: 1rem;
}
.signin-logo img {
  width: 15%;
  margin-left: 1rem;
}
.logo-name {
  font-family: "Neue Haas Grotesk Display Pro", sans-serif;
  font-weight: 600;
  margin-top: 0.3rem;
}
.sign_mono {
  padding-right: 58%;
  margin-bottom: 1%;
}

.input {
  margin-top: 12%;

}
label{
  margin-right: 59%;
  margin-bottom: 0.7rem;
}
.email__label{
  margin-right: 67%;
  margin-top: 2rem;
}
.input div input {
  background-color: #f2f9ff;
  color: #222222;
  padding: 6%;
  width: 17rem;
  margin-bottom: 5%;
  border: none;
}

.input div input:focus {
  outline: none;
}

.input ::placeholder {
  color: #393939; /* Change to the color you want */
}

.forgot_pas {
  margin-left: 17%;
  font-size: small;
  color: #b0b0b0;
  margin-bottom: 0.5rem;
}
.error__div {
  width: 100%;
  height: 2rem;
  color: #ff0000;
  align-items: center;
  border: none;
  font-size: 14px;
  display: flex;
  align-items: start;
  margin-left:5.8rem;
  margin-top:0.5rem;
}
.error__container{
  width: 100%;
  height: 2rem;
  background-color: #ffffff;
  display: grid;
  place-items: center;
}
.have-account {
  margin-left:50%;
  font-size: 14px;
}

.have-account a {
  text-decoration: none;
}

.have-account a span {
  color: #0071d9;
}

.signin-continue_with {
  margin-left: 35%;
  color: #b0b0b0;
}

.btn_sign_in {
  width: 70%;
  height: 3.5rem;
  background: linear-gradient(180deg, #5daefa -17.19%, #0071d9 123.44%);
  box-shadow: 0px 4px 20px #6bb7ff;
  display: grid;
  place-items: center;
  border-radius: 40px;
  color: #fff;
  margin: 1rem 0 1rem 4.3rem;
  border: none;
}

.btn_sign_in a {
  text-decoration: none;
  color: #fffbf2;
  margin: 0 99px;
  padding-top: 2rem;
}
.singin_error__div {
  width:21.5rem;
  height: 3rem;
  color: #f40000;
  border: none;
  font-size: 14px;
  margin-top: 0.5rem;
  margin-left: 4.6rem;
}
.headline{
  font-size: 12px;
  width: 70%;
  margin-right:8%;
}
@media (min-width: 375px) and (max-width: 424px) {
  .btn_sign_in {
    margin-left: 17.5%;
    width: 270px;
  }
  .btn_sign_in a {
    text-decoration: none;
    color: #fffbf2;
    margin: 0 70px;
    padding-top: 2rem;
  }

  .input div input {
    width: 20rem;
  }
  .sign_mono {
    margin-left: 0.7rem;
  }
  .forgot_pas {
    margin-left: -39%;
    font-size: 10px;
  }

  .have-account {
    margin-left: 20%;
    font-size: 12px;
  }
  .signin-continue_with {
    margin-left: 32%;
  }
}

@media (min-width: 319px) and (max-width: 374px) {
  .btn_sign_in {
    margin-left: 13%;
    width: 230px;
  }
  .btn_sign_in a {
    text-decoration: none;
    color: #fffbf2;
    margin: 0 50px;
    padding-top: 0.5rem;
  }

  .input div input {
    width: 14rem;
  }
  .sign_mono {
    margin-left: 0.7rem;
  }
  .forgot_pas {
    margin-left: -43%;
    font-size: 10px;
  }

  .have-account {
    margin-left: -4%;
    font-size: 10px;
  }
  .signin-continue_with {
    margin-left: 30%;
  }
}
