  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

  * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;

     font-family: 'Poppins', sans-serif;
  }

  /* Main Colors */
  :root {
     --primaryblue: #58A9F5;
     --Secondaryblue: #0C79DD;
     --linearblue: background: linear-gradient(180deg, #5DAEFA -17.19%, #0071D9 123.44%);
     --green: #25A969;
     --red: #F95B51;
     --white: #ffffff;
     --black: #000000;

  }

  .spiner {
     position: absolute;
     width: 100%;
     height: 100%;
     background-color: rgba(218, 218, 218, 0.341);
     z-index: 2;
     display: flex;
     align-items: center;
     justify-content: center;
  }

  .circle-one {
     width: 100px;
     height: 100px;
     border: 3px solid;
     border-color: var(--Secondaryblue) var(--Secondaryblue) var(--Secondaryblue) transparent;
     border-radius: 50%;
     animation-name: spin;
     animation-duration: 1s;
     animation-iteration-count: infinite;
     animation-timing-function: linear;
     display: flex;
     align-items: center;
     justify-content: center;
  }

  @keyframes spin {
     0% {
        transform: rotate(0trun);
     }

     100% {
        transform: rotate(1turn);

     }
  }